<configuration>

  <configSections>
    <section name="AspNetForumsSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

    <system.web>

        <!-- set debugmode to false for running application -->
        <compilation debug="false" />

        <!-- set customeErrors off while developing -->
        <customErrors mode="RemoteOnly" />

        <authentication mode="Forms">
            <forms name="AspNetWebAuth" loginUrl="~/login.aspx" protection="None" timeout="60" />
        </authentication>
        
    </system.web>

    <!-- ASP.NET Forums Config Settings -->
    <!-- 
    ******************************
    Data Provider
    -->
  <AspNetForumsSettings>
    <add key="DataProviderAssemblyPath" value="/AspNetForums/bin/AspNetForums.dll" />

    <!-- 
    ******************************
    Application Settings
    ******************************
    -->
    <add key="ApplicationRoot" value="/AspNetForums" />
    <add key="Skin" value="default"/>
    <add key="AvailableSkins" value="default"/>
    <add key="Style" value="default"/>
    <add key="AvailableStyles" value="default;LightBlue"/>
    <add key="pageSize" value="25"/>
    <add key="connectionString" value="server=localhost;Trusted_Connection=true;database=" />
    <add key="defaultDateFormat" value="dd MMM yyyy"/>
    <add key="defaultTimeFormat" value="hh:mm tt"/>
    <add key="pathToTransformationFile" value="/AspNetForums/transform.txt" />
    <add key="smtpServer" value="default" /> <!-- Can specify SMTP Server to use to send out emails.  Use "default" to use the default Windows 2000 SMTP Server -->
    <add key="allowDuplicatePosts" value="false" /><!-- Whether or not you wish to allow messages with duplicate bodies being posted in various forums -->
    <add key="imagesPath" value="/DiscussionBoard/images/" /><!-- The path to your image files. -->
    <add key="dbTimeZoneOffset" value="-6" /><!-- The timezone offset of your database server. (GMT is +0; EST = -5;) -->
    <add key="siteName" value="ASP.NET Forums" /><!-- The name of your AspNetForums.NET Web site. -->
    <add key="DataProviderClassName" value="AspNetForums.Data.SqlDataProvider" /><!-- For DataProviderAssemblyPath, can also use value="/AspNetForums/bin/AspNetForums.dll" -->
    <add key="webSiteUrl" value="http://localhost" />

    <!-- 
    ******************************
    URL Resource Paths 
    ******************************
    urlHome - the Url to the home of the application
    urlShowPost - The Url to show a particular post.
    urlShowAllUsers - The Url to show all users.
    urlSearch - The Url to show the search page.
    urlSearchForUser - Searchs for posts by a given user.
    urlRegister - The Url to register as a user.
    urlProfile - The Url to view a user profile.
    urlLogin - The Url to redirect the user to in order to login.
    urlLogout - The Url to redirect a user to when they opt to logout.
    urlShowForum - The Url to show a particular forum.
    urlShowForumGroup - The Url to show a particular forum group.
    urlShowUserInfo - The Url to show a particular user's information.
    urlReplyToPost - The Url to post a reply to an existing post.
    urlAddNewPost - The Url to post a new message.
    urlEditExistingPostFromModeration - The Url to edit an existing post from the moderation system.
    urlEditExistingPostFromAdmin - The Url to edit an existing post from the administration screen.
    urlPostModeration - The Url to moderate posts awaiting approval.
    urlEditForum - The Url to edit an existing forum.
    urlCreateForum - The Url to create a new forum.
    urlShowForumsPostsForAdmin - The Url to show a forums posts for editing/deletign (only available through the administration page).

    Note, the '&' symbol cannot be parsed all '&' in URL are replaced with '^'
    -->
    <add key="urlHome" value="/AspNetForums/Default.aspx" />
    <add key="urlShowPost" value="/AspNetForums/ShowPost.aspx?PostID=" />
    <add key="urlShowAllUsers" value="/AspNetForums/User/ShowAllUsers.aspx" />
    <add key="urlSearch" value="/AspNetForums/Search/default.aspx" />
    <add key="urlSearchForUser" value="/AspNetForums/Search/default.aspx?SearchFor=1^SearchText=" />
    <add key="urlRegister" value="/AspNetForums/User/CreateUser.aspx" />
    <add key="urlEditUserProfile" value="/AspNetForums/User/EditUserProfile.aspx" />
    <add key="urlLogin" value="/AspNetForums/login.aspx" />
    <add key="urlAdmin" value="/AspNetForums/Admin/default.aspx" />
    <add key="urlAdminEditUser" value="/AspNetForums/Admin/EditUser.aspx?Username=" />
    <add key="urlLogout" value="/AspNetForums/logout.aspx" />
    <add key="urlShowForum" value="/AspNetForums/ShowForum.aspx?ForumID=" />
    <add key="urlShowForumGroup" value="/AspNetForums/ShowForumGroup.aspx?ForumGroupID=" />
    <add key="urlShowUserProfile" value="/AspNetForums/User/UserProfile.aspx?UserName=" />
    <add key="urlReplyToPost" value="/AspNetForums/AddPost.aspx?PostID=" />
    <add key="urlUserEditPost" value="/AspNetForums/EditPost.aspx?PostID=" />
    <add key="urlAddNewPost" value="/AspNetForums/AddPost.aspx?ForumID=" />
    <add key="urlMyForums" value="/AspNetForums/User/MyForums.aspx" />
    <add key="urlChangePassword" value="/AspNetForums/User/ChangePassword.aspx" />
    <add key="urlForgotPassword" value="/AspNetForums/User/EmailForgottenPassword.aspx" />
    <add key="urlModeration" value="/AspNetForums/Moderate/default.aspx" />
    <add key="urlModerateForumPosts" value="/AspNetForums/Moderate/ModerateForum.aspx?ForumId=" />
    <add key="urlEditPost" value="/AspNetForums/Moderate/EditPost.aspx?PostID=" />
    <add key="urlDeletePost" value="/AspNetForums/Moderate/DeletePost.aspx?PostID=" />
    <add key="urlManageForumPosts" value="/AspNetForums/Moderate/ManageForum.aspx?ForumId=" />
    <add key="urlMovePost" value="/AspNetForums/Moderate/MovePost.aspx?PostID=" />
    <add key="urlModerateThread" value="/AspNetForums/Moderate/ModerateThread.aspx?PostId=" />
    <add key="urlEditForum" value="/AspNetForums/Admin/EditForum.aspx?ForumID=" />
    <add key="urlCreateForum" value="/AspNetForums/Admin/CreateNewForum.aspx" />
    <add key="urlShowForumPostsForAdmin" value="/AspNetForums/Admin/ShowPosts.aspx?ForumID=" />
    <add key="urlMessage" value="/AspNetForums/Msgs/default.aspx?MessageId=" /><!-- The Url that contains messages to display when certain events occur. -->
  </AspNetForumsSettings>


  <!-- 
  This location tag is used to ensure that only authenticated users can add a new post or reply to
  an existing post... 
  -->
  <location path="AddPost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <location path="EditPost.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

</configuration>
